# dokploy/.env
# Dokploy主应用配置
NODE_ENV=development
DOKPLOY_SECRET=YOUR DOKPLOY_SECRET
DOKPLOY_ADMIN_EMAIL=YOUR DOKPLOY_ADMIN_EMAIL
DOKPLOY_ADMIN_PASSWORD=YOUR DOKPLOY_ADMIN_PASSWORD
DOKPLOY_PORT=3000

# 数据库配置
POSTGRES_USER=dokploy
POSTGRES_PASSWORD=YOUR POSTGRES_PASSWORD
POSTGRES_DB=dokploy
DB_CONNECTION_STRING=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Traefik配置
TRAEFIK_DASHBOARD_PORT=8080
TRAEFIK_INSECURE_API=true

# CLOUDFLARE_TUNNEL
CLOUDFLARE_TUNNEL_TOKEN=YOUR CLOUDFLARE_TUNNEL_TOKEN